ETLDWH1-3/PartialArmTemplates/ArmTemplate_11_2_2021_0_31_34.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ETLDWH1-3"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PP_Metas",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Target_Workflow",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Coarse"
						}
					},
					{
						"name": "ModoDeEnvioTransform",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "delete from ModoEnvio",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['@id_modo']"
										},
										"sink": {
											"path": "idModo"
										}
									},
									{
										"source": {
											"path": "[['@Descripcion']"
										},
										"sink": {
											"path": "Desc"
										}
									},
									{
										"source": {
											"path": "[['@Tipo_x0020_ID']"
										},
										"sink": {
											"path": "IdTipoEnvio"
										}
									}
								],
								"collectionReference": "$['Data']['table_maestria.tb_modo_envio']['maestria.tb_modo_envio']"
							}
						},
						"inputs": [
							{
								"referenceName": "tb_modo_envio",
								"type": "DatasetReference",
								"parameters": {
									"id_modo": "id_modo",
									"Descripcion": "Descripcion",
									"Tipo_x0020_ID": "Descripcion"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tb_Modo_Envio_Tra",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "TipoDeEnvioTransform",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "Delete from TipoEnvio",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['@id_tipo']"
										},
										"sink": {
											"path": "idTipoEnvio"
										}
									},
									{
										"source": {
											"path": "[['@Descripción']"
										},
										"sink": {
											"path": "descTipoEnvio"
										}
									}
								],
								"collectionReference": "$['Data']['table_maestria.tb_tipo_envio']['maestria.tb_tipo_envio']"
							}
						},
						"inputs": [
							{
								"referenceName": "tb_tipo_envio",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "tb_tipo_envio_Tra",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "StagginCustomerData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Cliente ID']"
										},
										"sink": {
											"name": "Cliente ID"
										}
									},
									{
										"source": {
											"path": "$['Nombre']"
										},
										"sink": {
											"name": "Nombre"
										}
									},
									{
										"source": {
											"path": "$['Apellido']"
										},
										"sink": {
											"name": "Apellido"
										}
									},
									{
										"source": {
											"path": "$['Segmento']"
										},
										"sink": {
											"name": "Segmento"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "LT_customer",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "LT_Customer_Tra",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PP_Customer",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "StagginCustomerData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Custormer_workflow",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "PP_Producto",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Product_workflow",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "PP_Detalledeordenes",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Detalledeordenes_workflow",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Coarse"
						}
					}
				],
				"folder": {
					"name": "ETL"
				},
				"annotations": [],
				"lastPublishTime": "2021-10-23T04:18:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/tb_Modo_Envio_Tra')]",
				"[concat(variables('factoryId'), '/datasets/tb_tipo_envio_Tra')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tests')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ModoDeEnvioTransform",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "delete from ModoEnvio",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['@id_modo']"
										},
										"sink": {
											"path": "idModo"
										}
									},
									{
										"source": {
											"path": "[['@Descripcion']"
										},
										"sink": {
											"path": "Desc"
										}
									},
									{
										"source": {
											"path": "[['@Tipo_x0020_ID']"
										},
										"sink": {
											"path": "IdTipoEnvio"
										}
									}
								],
								"collectionReference": "$['Data']['table_maestria.tb_modo_envio']['maestria.tb_modo_envio']"
							}
						},
						"inputs": [
							{
								"referenceName": "tb_modo_envio",
								"type": "DatasetReference",
								"parameters": {
									"id_modo": "id_modo",
									"Descripcion": "Descripcion",
									"Tipo_x0020_ID": "Descripcion"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tb_Modo_Envio_Tra",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "TipoDeEnvioTransform",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "Delete from TipoEnvio",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['@id_tipo']"
										},
										"sink": {
											"path": "idTipoEnvio"
										}
									},
									{
										"source": {
											"path": "[['@Descripción']"
										},
										"sink": {
											"path": "descTipoEnvio"
										}
									}
								],
								"collectionReference": "$['Data']['table_maestria.tb_tipo_envio']['maestria.tb_tipo_envio']"
							}
						},
						"inputs": [
							{
								"referenceName": "tb_tipo_envio",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "tb_tipo_envio_Tra",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "ETL"
				},
				"annotations": [],
				"lastPublishTime": "2021-10-23T04:50:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/tb_Modo_Envio_Tra')]",
				"[concat(variables('factoryId'), '/datasets/tb_tipo_envio_Tra')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ordenes_workflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "TbDetalleEnvios",
								"type": "DatasetReference"
							},
							"name": "TbOrdenes"
						},
						{
							"dataset": {
								"referenceName": "tb_Modo_Envio_Tra",
								"type": "DatasetReference"
							},
							"name": "ModoEnvio"
						},
						{
							"dataset": {
								"referenceName": "Regiones",
								"type": "DatasetReference"
							},
							"name": "Regiones"
						},
						{
							"dataset": {
								"referenceName": "tb_tipo_envio_Tra",
								"type": "DatasetReference"
							},
							"name": "TipoEnvio"
						},
						{
							"dataset": {
								"referenceName": "DimCliente",
								"type": "DatasetReference"
							},
							"name": "MapCliente"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "FactOrdenes",
								"type": "DatasetReference"
							},
							"name": "StoreTable"
						}
					],
					"transformations": [
						{
							"name": "Join1"
						},
						{
							"name": "Select1"
						},
						{
							"name": "Join2"
						},
						{
							"name": "Join3"
						},
						{
							"name": "SurrogateKey1"
						},
						{
							"name": "SelectDataCliente"
						},
						{
							"name": "Join4"
						}
					],
					"script": "source(output(\n\t\tnum_order as string,\n\t\tfec_orden as date,\n\t\tfec_envio as date,\n\t\tmodo_envio as string,\n\t\tcliente_id as string,\n\t\timp_subtotal as double,\n\t\tregion_id as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tlimit: 100,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> TbOrdenes\nsource(output(\n\t\tid_modo as string,\n\t\tDescripcion as string,\n\t\tid_TipoEnvio as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> ModoEnvio\nsource(output(\n\t\t{Region ID} as integer,\n\t\t{Region Desc} as string,\n\t\t{Detalle region} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> Regiones\nsource(output(\n\t\tid_tipo as string,\n\t\t{Descripción} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> TipoEnvio\nsource(output(\n\t\tPK_Cliente as integer,\n\t\tCliente_ID as string,\n\t\tNombre as string,\n\t\tApellido as string,\n\t\tSegmento as string,\n\t\tPais as string,\n\t\tCiudad as string,\n\t\tEstado as string,\n\t\tRegion as string,\n\t\t{Codigo Postal} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> MapCliente\nJoin2, ModoEnvio join(modo_envio == id_modo,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> Join1\nJoin3 select(mapColumn(\n\t\tnum_order,\n\t\tfec_orden,\n\t\tfec_envio,\n\t\tid_modo_envio = modo_envio,\n\t\tcliente_id,\n\t\timp_subtotal,\n\t\tregion_id,\n\t\t{Region Desc},\n\t\t{Detalle region},\n\t\tmodo_envio = Descripcion,\n\t\tid_Tipo_Envio = id_TipoEnvio,\n\t\tTipo_envio = {Descripción}\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select1\nTbOrdenes, Regiones join(region_id == {Region ID},\n\tjoinType:'left',\n\tbroadcast: 'auto')~> Join2\nJoin1, TipoEnvio join(id_TipoEnvio == id_tipo,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> Join3\nSelect1 keyGenerate(output(PK_Orden as long),\n\tstartAt: 1L) ~> SurrogateKey1\nMapCliente select(mapColumn(\n\t\tPK_Cliente,\n\t\tCliente_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectDataCliente\nSurrogateKey1, SelectDataCliente join(Select1@cliente_id == SelectDataCliente@Cliente_ID,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> Join4\nJoin4 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tPK_Order as integer,\n\t\tnum_order as integer,\n\t\tfec_orden as date,\n\t\tfec_envio as date,\n\t\timp_subtotal as decimal(18,2),\n\t\tid_modo as integer,\n\t\tmodo_envio as string,\n\t\tID_Tipo_envio as integer,\n\t\tdescripcion_envio as string,\n\t\tRegion_ID as integer,\n\t\tRegion_descripcion as string,\n\t\tDetalle_Region as string,\n\t\tPK_Cliente as integer\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tPK_Order = PK_Orden,\n\t\tnum_order,\n\t\tfec_orden,\n\t\tfec_envio,\n\t\timp_subtotal,\n\t\tid_modo = id_modo_envio,\n\t\tmodo_envio,\n\t\tID_Tipo_envio = id_Tipo_Envio,\n\t\tdescripcion_envio = Tipo_envio,\n\t\tRegion_ID = region_id,\n\t\tRegion_descripcion = {Region Desc},\n\t\tDetalle_Region = {Detalle region},\n\t\tPK_Cliente\n\t)) ~> StoreTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/tb_Modo_Envio_Tra')]",
				"[concat(variables('factoryId'), '/datasets/tb_tipo_envio_Tra')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tb_tipo_envio_Tra')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Dimensionality",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BankMarketTransform"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_tipo",
						"type": "varchar"
					},
					{
						"name": "Descripción",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TipoEnvio"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tb_Modo_Envio_Tra')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Dimensionality",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BankMarketTransform"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_modo",
						"type": "varchar"
					},
					{
						"name": "Descripcion",
						"type": "varchar"
					},
					{
						"name": "id_TipoEnvio",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ModoEnvio"
				}
			},
			"dependsOn": []
		}
	]
}