ETLDWH1-3/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ETLDWH1-3"
		},
		"BankMarketBlob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BankMarketBlob'"
		},
		"ConnectorAzureRafael_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ConnectorAzureRafael'"
		},
		"bankMarketDatabase_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'bankMarketDatabase'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PP_Metas",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "TipoDeEnvioTransform",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Target_Workflow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ExtTargetTable": {},
									"AlmacenarMetasDWH": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Coarse"
						}
					},
					{
						"name": "ETL_Products",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "PP_Metas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Product_workflow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"ExtLTProduct": {},
									"ExtLTProductSubcategory": {},
									"ExtLTCategory": {},
									"AlmacenarProducto": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"runConcurrently": true,
							"continueOnError": true
						}
					},
					{
						"name": "ModoDeEnvioTransform",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['@id_modo']"
										},
										"sink": {
											"path": "idModo"
										}
									},
									{
										"source": {
											"path": "[['@Descripcion']"
										},
										"sink": {
											"path": "Desc"
										}
									},
									{
										"source": {
											"path": "[['@Tipo_x0020_ID']"
										},
										"sink": {
											"path": "IdTipoEnvio"
										}
									}
								],
								"collectionReference": "$['Data']['table_maestria.tb_modo_envio']['maestria.tb_modo_envio']"
							}
						},
						"inputs": [
							{
								"referenceName": "tb_modo_envio",
								"type": "DatasetReference",
								"parameters": {
									"id_modo": "id_modo",
									"Descripcion": "Descripcion",
									"Tipo_x0020_ID": "Descripcion"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tb_Modo_Envio_Tra",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "TipoDeEnvioTransform",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ModoDeEnvioTransform",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['@id_tipo']"
										},
										"sink": {
											"path": "idTipoEnvio"
										}
									},
									{
										"source": {
											"path": "[['@Descripción']"
										},
										"sink": {
											"path": "descTipoEnvio"
										}
									}
								],
								"collectionReference": "$['Data']['table_maestria.tb_tipo_envio']['maestria.tb_tipo_envio']"
							}
						},
						"inputs": [
							{
								"referenceName": "tb_tipo_envio",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "tb_tipo_envio_Tra",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ETL"
				},
				"annotations": [],
				"lastPublishTime": "2021-10-23T04:18:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Target_Workflow')]",
				"[concat(variables('factoryId'), '/dataflows/Product_workflow')]",
				"[concat(variables('factoryId'), '/datasets/tb_modo_envio')]",
				"[concat(variables('factoryId'), '/datasets/tb_Modo_Envio_Tra')]",
				"[concat(variables('factoryId'), '/datasets/tb_tipo_envio')]",
				"[concat(variables('factoryId'), '/datasets/tb_tipo_envio_Tra')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tests')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Customer_Workflow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PruebaExtraccion1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ETL"
				},
				"annotations": [],
				"lastPublishTime": "2021-10-23T04:50:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Customer_Workflow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimCliente')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ConnectorAzureRafael",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PK_Cliente",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Cliente_ID",
						"type": "varchar"
					},
					{
						"name": "Nombre",
						"type": "varchar"
					},
					{
						"name": "Apellido",
						"type": "varchar"
					},
					{
						"name": "Segmento",
						"type": "varchar"
					},
					{
						"name": "Pais",
						"type": "varchar"
					},
					{
						"name": "Ciudad",
						"type": "varchar"
					},
					{
						"name": "Estado",
						"type": "varchar"
					},
					{
						"name": "Region",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_Cliente"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ConnectorAzureRafael')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimDetalleOrdenes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ConnectorAzureRafael",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PK_DetalleOrden",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PK_Order",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Detalle_Orden",
						"type": "varchar"
					},
					{
						"name": "Linea_Total",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Cantidad",
						"type": "decimal",
						"precision": 18,
						"scale": 5
					},
					{
						"name": "Descuento",
						"type": "decimal",
						"precision": 5,
						"scale": 5
					},
					{
						"name": "Precio_Unitario",
						"type": "decimal",
						"precision": 18,
						"scale": 5
					},
					{
						"name": "Ganancia",
						"type": "decimal",
						"precision": 18,
						"scale": 5
					},
					{
						"name": "PK_Producto",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_detalle_ordenes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ConnectorAzureRafael')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimMetas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ConnectorAzureRafael",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PK_Meta",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Año",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Mes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Region_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TARGET",
						"type": "decimal",
						"precision": 18,
						"scale": 5
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_Metas"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ConnectorAzureRafael')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DimProducto')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ConnectorAzureRafael",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Producto_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Categoria_Producto_ID",
						"type": "varchar"
					},
					{
						"name": "Descripcion_Subcategoria",
						"type": "varchar"
					},
					{
						"name": "Numero_Producto",
						"type": "varchar"
					},
					{
						"name": "Categoria_ID",
						"type": "varchar"
					},
					{
						"name": "Nombre_Producto",
						"type": "varchar"
					},
					{
						"name": "Categoria_Producto_ID_1",
						"type": "varchar"
					},
					{
						"name": "Descripcion_Categoria",
						"type": "varchar"
					},
					{
						"name": "Subcategoria_ID",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DIM_Producto"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ConnectorAzureRafael')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FactOrdenes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ConnectorAzureRafael",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "num_order",
						"type": "varchar"
					},
					{
						"name": "OrderId",
						"type": "varchar"
					},
					{
						"name": "fec_orden",
						"type": "date"
					},
					{
						"name": "fec_envio",
						"type": "date"
					},
					{
						"name": "imp_subtotal",
						"type": "float",
						"precision": 15
					},
					{
						"name": "id_modo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "modo_envio",
						"type": "varchar"
					},
					{
						"name": "ID_Tipo_envio",
						"type": "int",
						"precision": 10
					},
					{
						"name": "descripcion_envio",
						"type": "varchar"
					},
					{
						"name": "Region_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Region_descripcion",
						"type": "varchar"
					},
					{
						"name": "Detalle_Region",
						"type": "varchar"
					},
					{
						"name": "Codigo",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "FACT_Ordenes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ConnectorAzureRafael')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LT_customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BankMarketBlob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BankMarketSource"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "LT_customer.json",
						"container": "files"
					},
					"encodingName": "UTF-8"
				},
				"schema": {
					"type": "object",
					"properties": {
						"Cliente ID": {
							"type": "string"
						},
						"Nombre": {
							"type": "string"
						},
						"Apellido": {
							"type": "string"
						},
						"Segmento": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BankMarketBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LT_productos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BankMarketBlob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BankMarketSource"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "LT_productos.csv",
						"container": "files"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Producto ID",
						"type": "String"
					},
					{
						"name": "Numero Producto",
						"type": "String"
					},
					{
						"name": "Producto Sub Categoria ID",
						"type": "String"
					},
					{
						"name": "Nombre Producto",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BankMarketBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LT_productos_categoria')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BankMarketBlob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BankMarketSource"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "LT_productos_categoria.csv",
						"container": "files"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Categoria Producto ID",
						"type": "String"
					},
					{
						"name": "Descripcion Categoria",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BankMarketBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LT_productos_sub_categoria')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BankMarketBlob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BankMarketSource"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "LT_productos_sub_categoria.csv",
						"container": "files"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Subcategoria Producto ID",
						"type": "String"
					},
					{
						"name": "Categoria Producto ID",
						"type": "String"
					},
					{
						"name": "Descripcion Subcategoria",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BankMarketBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Regiones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BankMarketBlob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BankMarketSource"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Regiones.txt",
						"container": "files"
					},
					"columnDelimiter": "\t",
					"encodingName": "ISO-8859-1",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Region ID",
						"type": "String"
					},
					{
						"name": "Region Desc",
						"type": "String"
					},
					{
						"name": "Detalle region",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BankMarketBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/db_target_region')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BankMarketBlob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BankMarketSource"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "db_target_region.csv",
						"container": "files"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"nullValue": "null",
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Año",
						"type": "String"
					},
					{
						"name": "Mes",
						"type": "String"
					},
					{
						"name": "Region ID",
						"type": "String"
					},
					{
						"name": "Target",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BankMarketBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/lt_customer_localizacion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BankMarketBlob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BankMarketSource"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "lt_customer_localizacion.csv",
						"container": "files"
					},
					"columnDelimiter": "\t",
					"encodingName": "UTF-8",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Cliente ID",
						"type": "String"
					},
					{
						"name": "Pais",
						"type": "String"
					},
					{
						"name": "Ciudad",
						"type": "String"
					},
					{
						"name": "Estado",
						"type": "String"
					},
					{
						"name": "Codigo Postal",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BankMarketBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tb_Modo_Envio_Tra')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BankMarketBlob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BankMarketTransform"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "tb_Modo_Envio_Tra.json",
						"container": "transform"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"Cliente ID": {
							"type": "string"
						},
						"Nombre": {
							"type": "string"
						},
						"Apellido": {
							"type": "string"
						},
						"Segmento": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BankMarketBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tb_modo_envio')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BankMarketBlob",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"id_modo": {
						"type": "int"
					},
					"Descripcion": {
						"type": "string"
					},
					"Tipo_x0020_ID": {
						"type": "int"
					}
				},
				"folder": {
					"name": "BankMarketSource"
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "tb_modo_envio.xml",
						"container": "files"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BankMarketBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tb_tipo_envio')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BankMarketBlob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BankMarketSource"
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "tb_tipo_envio.xml",
						"container": "files"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BankMarketBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tb_tipo_envio_Tra')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BankMarketBlob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BankMarketTransform"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "tb_tipo_envio_Tra.json",
						"container": "transform"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"idModo": {
							"type": "integer"
						},
						"Desc": {
							"type": "string"
						},
						"IdTipoEnvio": {
							"type": "integer"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BankMarketBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BankMarketBlob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('BankMarketBlob_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ConnectorAzureRafael')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ConnectorAzureRafael_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/bankMarketDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('bankMarketDatabase_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Customer_Workflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "LT_customer",
								"type": "DatasetReference"
							},
							"name": "PruebaExtraccion1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "test",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\t{Cliente ID} as string,\n\t\tNombre as string,\n\t\tApellido as string,\n\t\tSegmento as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tlimit: 100,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine') ~> PruebaExtraccion1\nPruebaExtraccion1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tidModo as integer,\n\t\tDesc as string,\n\t\tIdTipoEnvio as integer\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/LT_customer')]",
				"[concat(variables('factoryId'), '/datasets/test')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Product_workflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "LT_productos",
								"type": "DatasetReference"
							},
							"name": "ExtLTProduct"
						},
						{
							"dataset": {
								"referenceName": "LT_productos_sub_categoria",
								"type": "DatasetReference"
							},
							"name": "ExtLTProductSubcategory"
						},
						{
							"dataset": {
								"referenceName": "LT_productos_categoria",
								"type": "DatasetReference"
							},
							"name": "ExtLTCategory"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DimProducto",
								"type": "DatasetReference"
							},
							"name": "AlmacenarProducto"
						}
					],
					"transformations": [
						{
							"name": "JoinSubcategory"
						},
						{
							"name": "SurrogateKeyProduct"
						},
						{
							"name": "JoinCategory"
						}
					],
					"script": "source(output(\n\t\t{Producto ID} as string,\n\t\t{Numero Producto} as string,\n\t\t{Producto Sub Categoria ID} as string,\n\t\t{Nombre Producto} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false) ~> ExtLTProduct\nsource(output(\n\t\t{Subcategoria Producto ID} as string,\n\t\t{Categoria Producto ID} as string,\n\t\t{Descripcion Subcategoria} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false) ~> ExtLTProductSubcategory\nsource(output(\n\t\t{Categoria Producto ID} as string,\n\t\t{Descripcion Categoria} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false) ~> ExtLTCategory\nExtLTProduct, ExtLTProductSubcategory join({Producto Sub Categoria ID} == {Subcategoria Producto ID},\n\tjoinType:'right',\n\tbroadcast: 'auto')~> JoinSubcategory\nJoinSubcategory keyGenerate(output(PK_Product as long),\n\tstartAt: 1L) ~> SurrogateKeyProduct\nSurrogateKeyProduct, ExtLTCategory join(ExtLTProductSubcategory@{Categoria Producto ID} == ExtLTCategory@{Categoria Producto ID},\n\tjoinType:'right',\n\tbroadcast: 'both')~> JoinCategory\nJoinCategory sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tProducto_ID as integer,\n\t\tCategoria_Producto_ID as string,\n\t\tDescripcion_Subcategoria as string,\n\t\tNumero_Producto as string,\n\t\tCategoria_ID as string,\n\t\tNombre_Producto as string,\n\t\tCategoria_Producto_ID_1 as string,\n\t\tDescripcion_Categoria as string,\n\t\tSubcategoria_ID as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tProducto_ID = PK_Product,\n\t\tCategoria_Producto_ID = ExtLTCategory@{Categoria Producto ID},\n\t\tDescripcion_Subcategoria = {Descripcion Subcategoria},\n\t\tNumero_Producto = {Numero Producto},\n\t\tCategoria_ID = ExtLTCategory@{Categoria Producto ID},\n\t\tNombre_Producto = {Nombre Producto},\n\t\tCategoria_Producto_ID_1 = ExtLTCategory@{Categoria Producto ID},\n\t\tDescripcion_Categoria = {Descripcion Categoria},\n\t\tSubcategoria_ID = {Subcategoria Producto ID}\n\t)) ~> AlmacenarProducto"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/LT_productos')]",
				"[concat(variables('factoryId'), '/datasets/LT_productos_sub_categoria')]",
				"[concat(variables('factoryId'), '/datasets/LT_productos_categoria')]",
				"[concat(variables('factoryId'), '/datasets/DimProducto')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Target_Workflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "db_target_region",
								"type": "DatasetReference"
							},
							"name": "ExtTargetTable"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DimMetas",
								"type": "DatasetReference"
							},
							"name": "AlmacenarMetasDWH"
						}
					],
					"transformations": [
						{
							"name": "AgregarSurrogateKey"
						}
					],
					"script": "source(output(\n\t\t{Año} as integer,\n\t\tMes as integer,\n\t\t{Region ID} as integer,\n\t\tTarget as decimal(18,5)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true,\n\tignoreNoFilesFound: false) ~> ExtTargetTable\nExtTargetTable keyGenerate(output(PK_Metas as long),\n\tstartAt: 1L) ~> AgregarSurrogateKey\nAgregarSurrogateKey sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tPK_Meta as integer,\n\t\t{Año} as integer,\n\t\tMes as integer,\n\t\tRegion_ID as integer,\n\t\tTARGET as decimal(18,5)\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tpreSQLs:['Truncate Table DIM_Metas'],\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tPK_Meta = PK_Metas,\n\t\t{Año},\n\t\tMes,\n\t\tRegion_ID = {Region ID},\n\t\tTARGET = Target\n\t)) ~> AlmacenarMetasDWH"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/db_target_region')]",
				"[concat(variables('factoryId'), '/datasets/DimMetas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BankMarketBlob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "BankMarketTransform"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "test.json",
						"container": "transform"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"idModo": {
							"type": "integer"
						},
						"Desc": {
							"type": "string"
						},
						"IdTipoEnvio": {
							"type": "integer"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BankMarketBlob')]"
			]
		}
	]
}